@media only screen and (min-width:1201px) and (max-width:1535px) {

body {
  font-size: 16px;
}

.column-sayings-block {
  font-size: .8em;
}

#logo-image{
  float: left;
  width: 160px;
  height: 100px;
  padding: 1em;

}

}


@media only screen and (min-width:1060px) and (max-width:1200px) {

body {
  font-size: 16px;
}

.column-sayings-block {
  font-size: .7em;
}

#logo-image{
  float: left;
  width: 108px;
  height: 80px;
  padding: 1em;

}

}



@media only screen and (min-width:850px) and (max-width:1060px) {

body {
  font-size: 14px;
}

.column-sayings-block {
  font-size: .6em;
}

header {
  height: 100px;
}

label {
  display: none;
  float: none;
}

#logo-image{
  float: left;
  width: 108px;
  height: 80px;
  padding: 1em;

}

#nav-links>a {
  display: inline;
  float: none;
  padding: .3em;
}


#newsletter {
   padding-top: 1em;
}

#social-media{
  margin-right: .5em;

}

  }


@media only screen and (min-width:481px) and (max-width:850px) {

body {
  font-size: 14px;
}

.column-nav-block {
  float: right;
  height: 100%;
  width: 66.66%;

}

.column-sayings-block {
  display: none;
  float: none;
}

header {
  height: 100px;
}


#logo-image{
  float: left;
  width: 108px;
  height: 80px;
  padding: 1em;

}

#nav-links>a {
  display: inline;
  float: none;
  font-size: .7em;
  padding: .3em;
}

#newsletter {
  display: none;
  float: none;
}


#social-media{
  padding: 1em;
  margin-right: 1em;

}
  }




@media only screen and (max-width:480px) {
  body 

body {
  font-size: 14px;
}

.column-nav-block {
  float: right;
  height: 100%;
  width: 66.66%;

}

.column-sayings-block {
  display: none;
  float: none;
}

header {
  height: 100px;
}


#logo-image{
  float: left;
  width: 108px;
  height: 80px;
  padding: 1em;

}

#nav-links>a {
  display: inline;
  float: none;
  font-size: .6em;
  padding: .3em;
}

#newsletter {
  display: none;
  float: none;
}

  }



