* { margin:0; padding:0; box-sizing: border-box; }
body {
	/*background: url(../images/needle_in_a_haystack.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
	font-family: calibri, arial, monospace;
	font-size: 18px;
	font-weight: 100;
	color: rgb(0,0,0);
	margin-right: 0em;
	margin-left: 0em;
}


header {
	background-color: rgb(0,62,89);
	font-family: 'Cambay', sans-serif;
	font-size: 1.4em;
	font-weight: 400;
	letter-spacing: .06em;
	color: rgba(255,255,255,.99);
	padding-top: 1em;
	padding-bottom: 1em;
}


a {

}

/*a:hover {
	height: 0px;
	background: none;
}*/


footer{
	clear: both;
	background-color: rgb(0,62,89);
	font-size: 12px;
	color: rgba(255,255,255,.99);
	text-align: center;
	padding: 1em 0;
}

footer a {
	color: rgba(255,255,255,.850);
	text-decoration: none;
	display: block;
	padding: 1em;
	text-align: center;
	float: left;
}


h2 {
	font-size: 1.5em;
}


h3 {
	font-size: 1.5em;
}


h4 {
	font-style: italic;
}


nav {


}


nav a {
	color: rgba(255,255,255,.850);
	text-decoration: none;
	display: block;
	padding: 1em;
	text-align: center;
	float: left;
}


section {
	
	
}

section a {
	color: rgba(255,255,255,.850);
	text-decoration: none;
	display: block;
	padding: 1em;
	text-align: center;
	float: left;
}

strong {
	font-size: 1.2em;
	font-variant: small-caps;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#container {
	max-width: 1920;


}



/***********
	ASIDE
***********/

aside {
	background-color: gray;
	float: right;
	display: block;
	padding: 2em;
	width: 20%;
	height: 1000px

}


.nav-links{
	
}

.nav-links a {


}

#ad-block{
	clear: both;

}

#contact{

}

#social-media{
	padding-bottom: 2em;

}

#how-button {


}

#main-nav {

	padding-top: 1em;
	padding-bottom: 2em;

}


#resources{
	
	padding-bottom: 2em;

}



/***********
BOTTOM HALF
***********/


#bottom-half {
	clear: both;
	width: 80%;
	height: 500px;

}


#featured-companies{
	background-color: rgb(62, 147, 125);
	text-align: justify;
	padding: 1em;
	height: 500px;
	width: 70%;
	float: left;

}


#popular{
	background: rgb(30, 240, 150);
	padding: 1em;
	text-align: justify;
	height: 500px;
	width: 30%;
	float: left;

}




/***********
Header
***********/


#fast{
	font-style: italic;
}


#logo{
	float: left;
	padding-left: .5em;
	
}

#slogan{
	text-align: center;
	padding-bottom: .3em;
}


#tagline{
	font-size: 18px;
	font-style: italic;
	text-align: center;
	padding-bottom: 1em;
}



/***********
Top half
***********/

#how-button{


}


#how-it-works{
	background: url(../images/needle_in_a_haystack.jpg);
	background-repeat: no-repeat;
	background-size: 811px 400px;
	text-align: justify;
	padding: 2em;
	height: 500px;
	width: 40%;
	float: left;
}

#how-it-works img{

}


#search{
	background-image: url(../images/sky_background.jpg);
	background-repeat: no-repeat;
	background-size: 811px 400px;
	padding: 7em;
	height: 500px;
	width: 60%;
	float: left;

}


#top-half {
	height: 500px;
	width: 80%;
}






https://github.com/jhumbrac/jhumbrac.github.io/blob/master/test/clear.css

/*.clearfix{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}*/

/*#signup-launch{

}


#signup-confirmation{

}*/

/*.centered-images{
	display: block;
	margin-left: auto;
	margin-right: auto;
*/


/*
h1, h2 {
  background-color: blue;
}

p {
  background-color: red;
}

ul {
 background-color: purple;
 display:inline;
}

li {
 background-color: purple;
 display:inline;
}

a {
  background-color: yellow;
}

strong, em {
  background-color: orange;
}
*/
