* { margin:0; padding:0; box-sizing:border-box; }
body {
	/*background: url(../images/needle_in_a_haystack.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
	font-family: calibri, arial, monospace;
	font-size: 18px;
	font-weight: 100;
	color: rgb(0,0,0);
	margin-right: 3em;
	margin-left: 3em;
}

header {
	background-color: rgb(0,62,89);
	font-family: 'Cambay', sans-serif;
	font-size: 1.4em;
	font-weight: 400;
	letter-spacing: .06em;
	color: rgba(255,255,255,.99);
	margin-bottom: 2em;
}

section {
	
}

h2 {
	font-size: 1.5em;
}


h3 {
	font-size: 1.5em;
}

h4 {
	font-style: italic;
}

strong{
	font-size: 1.2em;
	font-variant: small-caps;
}

footer {
	background-color: rgb(0,62,89);
	font-size: 12px;
	color: rgba(255,255,255,.99);
	text-align: center;
	padding: 1em 0;
}

#ad-block{

}

#contact{

}

#how-it-works{
	background: url(../images/needle_in_a_haystack.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#main-nav {

}

#resources{

}

#right-block{

}

#search{


}

#signup-launch{

}

#signup-confirmation{

}

#slogan{
	text-align: center;
	padding-bottom: .3em;
}

#tagline{
	font-size: 18px;
	font-style: italic;
	text-align: center;
	padding-bottom: 1em;
}

#top-bar{

}

/*.centered-images{
	display: block;
	margin-left: auto;
	margin-right: auto;
*/


/*
h1, h2 {
  background-color: blue;
}

p {
  background-color: red;
}

ul {
 background-color: purple;
 display:inline;
}

li {
 background-color: purple;
 display:inline;
}

a {
  background-color: yellow;
}

strong, em {
  background-color: orange;
}
*/
