body {
	background: url(../images/needle_in_a_haystack.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: top;
	font-family: calibri, arial, monospace;
	font-size: 20px;
	color: rgba(0,0,0,.7);
	line-height: 1.5em;
	padding-left: 200px;
}

header {
	font-family: 'Cambay', sans-serif;
	font-weight: bold;
	color: rgba(0,0,0,.8);
	padding-bottom: 40px;
}

h2 {
	font-size: 1.5em;
}


h3 {
	font-size: 1.5em;
}

h4 {
	font-style: italic;
}

strong {
	font-size: 1.2em;
	font-variant: small-caps;
}

#slogan {
	text-align: center;
}

#tagline {
	text-align: center;
}

.centered_images {
	display: block;
	margin-left: auto;
	margin-right: auto; 
}
