* { margin:0; padding:0; box-sizing: border-box; }
body {
	/*background: url(../images/needle_in_a_haystack.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
	font-family: calibri, arial, monospace;
	font-size: 18px;
	font-weight: 100;
	color: rgb(0,0,0);
	margin-right: 0em;
	margin-left: 0em;
}


header {
	background-color: rgb(0,62,89);
	font-family: 'Cambay', sans-serif;
	font-size: 1.4em;
	font-weight: 400;
	letter-spacing: .06em;
	color: rgba(255,255,255,.99);
	padding-top: 1em;
	padding-bottom: 1em;
}

a{

}

aside{
	float: right;
	display: block;
	width: 200px;

}



footer{
	clear: both;
	background-color: rgb(0,62,89);
	font-size: 12px;
	color: rgba(255,255,255,.99);
	text-align: center;
	padding: 1em 0;
}


h2 {
	font-size: 1.5em;
}


h3 {
	font-size: 1.5em;
}


h4 {
	font-style: italic;
}

nav{


}

nav a {
	display: block;

}

section {
	
	
}

strong{
	font-size: 1.2em;
	font-variant: small-caps;
}

/* .clearfix{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
} */


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.column{
	float: left;
	padding: 0em;
}

.nav-links{
	
}


#ad-block{
	clear: both;

}

#column1{
	float: left;
	width: 811px;


}


#column2{
	float: left;
	width: 811px;


}


#column3{
	float: right;
	width: 200px;

}


#contact{

}


#container {


}



#featured-companies{
	padding: 1em;


}


#follow-us{
	padding-bottom: 2em;

}


#how-button{


}


#how-it-works{
	background: url(../images/needle_in_a_haystack.jpg);
	background-repeat: no-repeat;
	background-size: 811px 400px;
	padding: 2em;
}


#logo{
	float: left;
	padding-left: .5em;
	
}


#main-nav {

	padding-top: 1em;
	padding-bottom: 2em;

}


#popular{
	padding: 1em;


}


#resources{
	
	padding-bottom: 2em;

}


#search{
	background-image: url(../images/sky_background.jpg);
	background-repeat: no-repeat;
	background-size: 811px 400px;
	padding: 2em;

}


#signup-launch{

}


#signup-confirmation{

}


#slogan{
	text-align: center;
	padding-bottom: .3em;
}


#tagline{
	font-size: 18px;
	font-style: italic;
	text-align: center;
	padding-bottom: 1em;
}



https://github.com/jhumbrac/jhumbrac.github.io/blob/master/test/clear.css

/*.centered-images{
	display: block;
	margin-left: auto;
	margin-right: auto;
*/


/*
h1, h2 {
  background-color: blue;
}

p {
  background-color: red;
}

ul {
 background-color: purple;
 display:inline;
}

li {
 background-color: purple;
 display:inline;
}

a {
  background-color: yellow;
}

strong, em {
  background-color: orange;
}
*/
