* { margin:0; padding:0; box-sizing: border-box; }

body {
	background: url(../images/needle_in_a_haystack.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: calibri, arial, monospace;
	font-size: 18px;
	font-weight: 100;
	color: rgb(0,0,0);
	margin-right: 0em;
	margin-left: 0em;
}


header {
	background: rgb(0,62,89);
	font-family: 'Cambay', sans-serif;
	font-size: 1.4em;
	font-weight: 400;
	letter-spacing: .06em;
	color: rgba(255,255,255,.99);
	padding-top: 1em;
	padding-bottom: 1em;
}


footer a {
	color: rgba(255,255,255,.850);
	text-decoration: none;
	display: block;
	padding: 1em;
	text-align: center;
	float: left;
}

nav a {
	color: rgba(255,255,255,.850);
	text-decoration: none;
	display: block;
	padding: 1em;
	text-align: center;
	float: left;
}

section a {
	color: rgba(255,255,255,.850);
	text-decoration: none;
	display: block;
	padding: 1em;
	text-align: center;
	float: left;
}



a:hover {
	height: 60px;
	background-color: gray;
}
